.method-container label {
  display: block;
  font-size: 24px;
  color: black;
  font-weight: 600;
}

.method-container select {
  width: 100px;
  padding: 0.5em 1em;
  border-radius: 30px;
  border: 1px solid #a2a2a2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  outline: none;
  margin: 0 auto 1em;
}

.method-container {
  font-family: Clear Sans, Helvetica Neue, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
